### Visual Studio ###
## Временные файлы и папки сборки
[Dd]ebug/
[Rr]elease/
x64/
*.sdf
*.opensdf
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
[Bb]in/
[Oo]bj/
*.tlog
*.log
*.idb
*.pdb
*.ilk
*.cache
*.VC.db
*.VC.VC.opendb

### Исходники ###
# Разрешить ВСЕ .cpp, .h и .txt файлы в любых подпапках
!**/*.cpp
!**/*.h
!**/*.txt

# Но игнорировать всё остальное в папках сборки (на всякий случай)
[Bb]in/**/*
[Oo]bj/**/*